.button1 {
  border: 1px solid;
  background-color: white;
  color: green;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
